.wrapper {
  min-height: 100%;
  opacity: 0;
  transition: opacity 0.3s ease 0s;
}

.wrapper._loaded {
  opacity: 1;
}

.page {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
}

.page__wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.screen {
  flex: 1 0 100%;
  position: relative;
}

.screen__content {
  padding: 100px 25px 25px 25px;
  position: relative;
  z-index: 2;
}

.screen__title {
  font-size: 50px;
}

.screen__body {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
}

.screen_image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.screen_image img {
  object-fit: cover;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

// Пагинация

// .page__pagination {
//   position: absolute;
//   top: 50%;
//   right: 50px;
//   transform: translate(0px, -50%);
//   display: flex;
//   flex-direction: column;
// }

// .page__bullet {
//   width: 15px;
//   height: 15px;
//   cursor: pointer;
//   background-color: #000000b5;
//   margin: 10px 0;
//   border-radius: 50%;
//   transition: background-color 0.3s ease 0s;
// }

// .page__bullet_active {
//   background-color: #fff;
// }

// Скролл

// .page__scroll {
//   position: absolute;
//   top: 0;
//   right: 0;
//   width: 4px;
//   height: 100%;
//   background-color: #00000089;
// }

// .page__drag-scroll {
//   position: absolute;
//   top: 0;
//   left: 0;
//   width: 100%;
//   background-color: #000000c5;
//   cursor: pointer;
// }